h1{
    text-align: center;
}

#ulList li.done{
    color: purple;
    text-decoration:line-through ;
}


.form-group input, .form-group textarea {
    padding: 0 0.5em;
    width: 100%;
    border-radius: 44px;
}



body { 
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
h1{
    padding: 2%;
    font-family: 'Changa', sans-serif;
}

#new-task-help{
    font-family: 'Lobster Two', cursive;
}

li{
    margin: 0.5%;
    border-radius: 1rem;
    font-family: 'Changa', sans-serif;
    font-size: 1rem;
}
